{% extends 'front/seller/index.html.twig' %}

{% block body %}

<h2>C'est la session profil</h2>

<div class="card mx-auto d-flex" style="width: 18rem;">

  {% for para in app.user.parameters %}
  <img class="card-img-top" src="{{para.background}}" alt="Card image cap">
  <div class="card-body"> 
    <figure class="profile">     
        <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="">
    </figure>                          
  {% endfor %}
    
    <h5 class="card-title mt-3">{{ app.user.firstname}}  {{app.user.lastname}}</h5>
    <p class="card-text">Biography : {{ app.user.biography }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Email : {{app.user.email}}</li>
    <li class="list-group-item">Phone : {{app.user.phone}}</li>
  </ul>
  <div class="card-body">
    <a href="{{ path('seller_edit', {'id': app.user.id}) }}"class="btn btn-primary">Edit</a>
    <a href="#" class="btn btn-primary">Edit your image</a>
  </div>
</div>

{% endblock %}